*{
    margin: 0;
    padding: 0;
}

body{
    background: url("../images/bg.jpg") fixed;
    background-size: cover;
}

nav{
    text-align: center;
    width: 100%;
    background-color: #17011c ;
    color: mediumaquamarine;
    border-bottom-left-radius: 25%;
    border-bottom-right-radius: 25%;
    opacity: 85%;
    border-bottom: mediumaquamarine solid 5px;
}


.nav > input[type=button]{
    background-color: transparent;
    color: mediumaquamarine;
    font-size: 26px;
    border: none;
    padding: 0 5%;
    height: 100%;
}

.nav > input[type=button]:hover{
    color: rgba(74,6,148,1);
    font-weight: bold;
    text-decoration: underline;
    background-color: mediumaquamarine;
}
/*
body{
    background: rgb(74,6,148);
    background: linear-gradient(139deg, rgba(74,6,148,1) 0%, rgba(20,249,0,0.7727901158707865) 50%, rgba(74,6,148,1) 100%) fixed;
}*/


header{
    background-color: black;
    opacity: 80%;
}

footer{
    background-color: black;
    opacity: 80%;
    padding-top: 5%;
}

.footer{
    background-color: #17011c;
    height: 100px;
    text-align: center;
    padding-top: 50px;
}

a{
    color: mediumaquamarine;
    font-weight: bold;
    font-size: 28px;

}

#logo1, #logo2{
    width: 40%;
}


.nav{
    grid-area: nav;
}

#logo1{
    grid-area: logo1;
    transform: rotate(-15deg);
    justify-self: right;
}

#logo2{
    grid-area: logo2;
    transform: rotate(15deg);
    justify-self: left;
}

nav{
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 25% 50% 25%;
    grid-template-areas: "logo1 nav logo2";
}


